:root {
    --dark-blue: #113;
    --light-blue: #9ED6F1;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/wall.png);
}

.title {
    color: #f00;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: var(--dark-blue);
    color: #eef;
    border-bottom: 5px solid #ffd700;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player {
    width: 50px;
}

.painel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
}

.enemy {
    background-image: url(../images/ralph.png);
    background-size: cover;
}